{
  "devname": "Busi",
  "ssid": "",
  "pass": "",
  "dozetime": "07:00",
  "waketime": "07:30",
  "morningtime": "08:00",
  "noontime": "12:00",
  "afternoontime": "14:00",
  "sleeptime": "20:00",
  "dozeactive": true,
  "wakeactive": true,
  "noonactive": true,
  "sleepactive": true,
  "sleepyellowmin": "40",
  "sleepyellowrange": "40",
  "sleepbrightness": "60",
  "sleepspeed": "5",
  "dozestartcolor": "16",
  "dozestopcolor": "40",
  "dozestartbrightness": "60",
  "dozestopbrightness": "120",
  "dozepulsespeed":"5",
  "wakehue": "90",
  "wakebrightness": "200"
}